 html{
                font-size: 22px;
            }
            body{
                background-color: lch(2.27% 2.95 144.45 / 0.955);
                color: whitesmoke;
                p {
  margin: 0;       /* Remove all default space */
  padding: 0;      /* Remove padding if any */
  line-height:1.1; /* Optional: reduce line height */
}
            }


      table {
      border-collapse: collapse;  /* removes extra space between cells */
      width: 80%;
    }

    
    td, th {
      border: 1px solid rgb(42, 8, 176);
      padding: 1px 1px;          /* top/bottom smaller, left/right normal */
      vertical-align:top;       /* keeps content at the top */
      line-height:2;          /* optional: reduce line spacing inside cell */
    }
 

    .right-image img {
      width: 350px;
      border-radius: 20px;
      filter: drop-shadow(0px 0px 25px #00ff00);
    }